<ion-view title="Galeria">
  <ion-content class="has-header"  id='slideBoxGalleryContent'>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" id='slideBoxGallery'>
  <ion-slide>
    <div class="box"><div style="background-image:url(img/gallery/gallery1.jpg)" class='sliderImage'></div><h1></h1></div>
  </ion-slide>

  <ion-slide>
    <div class="box"><div style="background-image:url(img/gallery/gallery2.jpg)" class='sliderImage'></div><h1></h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box"><div style="background-image:url(img/gallery/gallery3.jpg)" class='sliderImage'></div><h1></h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box"><div style="background-image:url(img/gallery/gallery4.jpg)" class='sliderImage'></div><h1></h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box"><div style="background-image:url(img/gallery/gallery5.jpg)" class='sliderImage'></div><h1></h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box"><div style="background-image:url(img/gallery/gallery6.jpg)" class='sliderImage'></div><h1></h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box"><div style="background-image:url(img/gallery/gallery7.jpg)" class='sliderImage'></div><h1></h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box"><div style="background-image:url(img/gallery/gallery8.jpg)" class='sliderImage'></div><h1></h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box"><div style="background-image:url(img/gallery/gallery9.jpg)" class='sliderImage'></div><h1></h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box"><div style="background-image:url(img/gallery/gallery10.jpg)" class='sliderImage'></div><h1></h1></div>
  </ion-slide>


</ion-slide-box>
 </ion-content>
</ion-view>
