<ion-view view-title="Home">
  <ion-content>
    <img class=''  style='width:100%' src="img/logo.jpg">
     <div class="card">
   <div class="item item-text-wrap">
     <h1>Modas Ananda</h1>

 	<p style="text-align:justify">En Modas AnandA encontrarás la mejor selección de ropa online sin moverte de casa.
    Desde nuestra tienda online podrás comprar las mejores marcas de moda. Descubre navegando sección por sección las prendas con más estilo.
    Sé la primera en enterarte de las últimas tendencias en nuestra tienda de moda online.</p>
   </div>
 </div>

 <button class="button" ng-click="socialsharing()">Share</button>


  <div class="list card">
  <div class="item item-avatar">
    <img src="img/logo.png">
    <h2>Modas AnandA</h2>
    <p>Los accesorios más bonitos</p>
  </div>
  <div class="item item-body">
    <img class="full-image" src="img/portada.png">
    <p>
      En Vestidos ananda ¡No se te escapará ni un detalle!
    </p>
  </div>
</div>

<div class="list card">
<div class="item item-avatar">
<img src="img/logo.png">
<h2>Modas AnandA</h2>
<p>Tu vestido perfecto</p>
</div>

<div class="item item-body">
<img class="full-image" src="img/home3.jpg">
<p>
  Porque para todos los gustos, somos tu tienda en vestidos de novia y cóctel. ¿Vienes a conocernos?
</p>
</div>

</div>

<div class="list card">

<div class="item item-avatar">
<img src="img/logo.png">
<h2>Modas AnandA</h2>
<p>Tu vestido perfecto</p>
</div>

<div class="item item-body">
<img class="full-image" src="img/home2.jpg">
<p>
  Elegancia para todos los bolsillos
</p>
</div>

</div>
  </ion-content>
</ion-view>
